.App {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  margin-top: 1em;
  flex-direction: row;
  justify-content: space-evenly;
}

.playground {
  display: flex;
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #DDD;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  outline: 1px solid #ccc;
  cursor: pointer;
}

.robotContainer {
  width: 100px;
  height: 100px;
  position: absolute;
}

.controller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96px;
  height: 96px;
}

.arrow-container {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.arrow {
  width: 32px;
  height: 32px;
}
